
.btn-1 {
    border-radius: 20px;
    border: 1px solid;
    margin-top: 10px;
    margin-right: 700px;
    background-color: aquamarine;
    font-weight: 700;
}

.sous_presentation {
    display: flex;
    flex-direction: column;
    margin-right: 700px;
    text-align: center;
    gap: 10px;
}

.sous_presentation input {
    border-radius: 20px;
    text-align: center;
}

.presentation {
    display: flex;
    flex-direction: column;
}
